{% extends 'shared/base.html' %}

{% block main %}
<h1>جزئیات درس: {{ course.name }}</h1>
<p>کد درس: {{ course.code }}</p>
<p>تعداد واحد: {{ course.credits }}</p>
<p>دانشکده: {{ course.department.name }}</p>
<p>استاد: {{ course.instructor.first_name }} {{ course.instructor.last_name }}</p>
{% for classes in course.course_classroom.all %}
<p>کلاس ها: {{ classes.classroom.name }}</p>
{% endfor %}

<h2>زمان‌بندی کلاس‌ها</h2>
<ul>
    {% for schedule in schedules %}
    <li>{{ schedule.get_day_of_week_display }}: {{ schedule.start_time }} - {{ schedule.end_time }}</li>
    {% endfor %}
</ul>

<h2>پیش‌نیازها</h2>
<ul>
    {% for prereq in prerequisites %}
    <li>
        {{ prereq.required_course.name }}
        <a href="{% url 'delete_prerequisite' prereq.id %}" class="btn btn-danger btn-sm">حذف</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_prerequisite' course.id %}" class="btn btn-success">افزودن پیشنیاز</a>

<h2>هم‌نیازها</h2>
<ul>
    {% for coreq in corequisites %}
    <li>
        {{ coreq.required_course.name }}
        <a href="{% url 'delete_corequisite' coreq.id %}" class="btn btn-danger btn-sm">حذف</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_corequisite' course.id %}" class="btn btn-success">افزودن همنیاز</a>

<h3>کلاس‌های درس</h3>
<a href="{% url 'add_course_classroom' course.id %}" class="btn btn-primary mb-3">افزودن کلاس جدید</a>

{% if course.course_classroom.exists %}
<table class="table">
    <thead>
        <tr>
            <th>نام کلاس</th>
            <th>ظرفیت</th>
            <th>دانشکده</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for course_classroom in course.course_classroom.all %}
        <tr>
            <td>{{ course_classroom.classroom.name }}</td>
            <td>{{ course_classroom.classroom.capacity }}</td>
            <td>{{ course_classroom.classroom.department.name }}</td>
            <td>
                <form method="get" action="{% url 'delete_course_classroom' course_classroom.id %}" style="display: inline;">
                    <button type="submit" class="btn btn-danger">حذف</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>هیچ کلاسی برای این درس تعریف نشده است.</p>
{% endif %}

{% endblock %}
