{% extends 'shared/base.html' %}

{% block main %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>ویرایش کاربر {{ student.first_name }} {{ student.last_name }}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            <h4>اطلاعات کاربری</h4>
                            {{ user_form.as_p }}
                        </div>
                        <div class="mb-4">
                            <h4>اطلاعات دانشجویی</h4>
                            {{ student_form.as_p }}
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                            <a href="{% url 'user_management' %}" class="btn btn-secondary">انصراف</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}