{% extends "shared/base.html" %}

{% block title %}Password Reset Form{% endblock title %}

{% block main %}
<div class="container">
    <div class="password-reset-container">
        <h2 class="text-center mb-4">بازیابی رمز عبور</h2>
        
        <form method="post" class="bg-white shadow p-4 rounded">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
            <div class="alert alert-danger mb-4">
                {{ form.non_field_errors.0 }}
            </div>
            {% endif %}
            
            <div class="form-group">
                <label for="id_student_number">{{ form.student_number.label }} :</label>
                {{ form.student_number }}
                {% if form.student_number.errors %}
                <div class="invalid-feedback">{{ form.student_number.errors.0 }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="id_email">{{ form.email.label }} :</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="invalid-feedback">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary">تأیید و ادامه</button>
                <a class="text-decoration-none font-weight-bold text-primary" href="{% url 'login' %}">
                    بازگشت به صفحه ورود
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}